<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label for="title">عنوان محصول</label>
    <input
      pInputText
      id="title"
      formControlName="title"
      placeholder="عنوان محصول"
    />
    <span class="error"
      *ngIf="productForm.get('title')?.touched && productForm.get('title')?.invalid">
      عنوان اجباری است
    </span>
  </div>

  <div class="form-group">
    <label for="description">توضیحات</label>
    <textarea
      pInputTextarea
      id="description"
      formControlName="description"
      class="form-textarea"
      placeholder="توضیحات">
    </textarea>
  </div>

  <div class="form-group">
    <label for="price">قیمت</label>
    <p-inputNumber
      id="price"
      formControlName="price"
      mode="decimal">
    </p-inputNumber>
    <span class="error"
      *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid">
      قیمت باید عدد مثبت باشد
    </span>
  </div>

  <div class="form-group">
    <label for="stock">موجودی</label>
    <p-inputNumber
      id="stock"
      formControlName="stock"
      [showButtons]="true"
      [min]="0">
    </p-inputNumber>
    <span class="error"
      *ngIf="productForm.get('stock')?.touched && productForm.get('stock')?.invalid">
      موجودی باید عدد غیرمنفی باشد
    </span>
  </div>

  <div class="form-group">
    <label for="categoryId">دسته‌بندی</label>
    <p-treeSelect
      id="categoryId"
      formControlName="categoryId"
      [options]="treeCategories"
      placeholder="انتخاب دسته"
      (onNodeSelect)="onCategorySelect($event)"
      selectionMode="single"
      [showClear]="true">
    </p-treeSelect>

    <span class="error"
      *ngIf="productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid">
      دسته‌بندی اجباری است
    </span>
  </div>

  <div class="form-group" *ngIf="categoryAttributes().length">
    <label>ویژگی‌های دسته</label>

    <div *ngFor="let attr of categoryAttributes(); let i = index" class="attribute-input">
      <label for="attr-{{ i }}">
        {{ attr.attributeName }} {{ attr.required ? "*" : "" }}
      </label>

      <ng-container [ngSwitch]="attr.attributeType">

        <input
          *ngSwitchCase="'STRING'"
          pInputText
          id="attr-{{ i }}"
          [formControl]="getValueControl(i)"
          placeholder="مقدار" />

        <p-inputNumber
          *ngSwitchCase="'NUMBER'"
          id="attr-{{ i }}"
          [formControl]="getValueControl(i)"
          [showButtons]="true"
          [min]="0">
        </p-inputNumber>

        <div *ngSwitchCase="'BOOLEAN'" class="checkbox-group">
          <p-checkbox
            [formControl]="getValueControl(i)"
            binary="true"
            inputId="attr-{{ i }}">
          </p-checkbox>
          <label for="attr-{{ i }}">{{ attr.attributeName }}</label>
        </div>

        <p-autoComplete
          *ngSwitchCase="'SELECT'"
          id="attr-{{ i }}"
          [formControl]="getValueControl(i)"
          [suggestions]="[]"
          placeholder="مقدار را تایپ کنید"
          [forceSelection]="false">
        </p-autoComplete>

        <p-chips
          *ngSwitchCase="'MULTISELECT'"
          id="attr-{{ i }}"
          [formControl]="getValueControl(i)"
          separator=","
          placeholder="مقادیر را تایپ کنید و Enter بزنید">
        </p-chips>

      </ng-container> 

      <span class="error"
        *ngIf="getValueControl(i).touched && getValueControl(i).invalid">
        {{ attr.attributeName }} اجباری است
      </span>
    </div>
  </div>

  <button
    pButton
    type="submit"
    label="ثبت محصول"
    class="submit-btn"
    [disabled]="productForm.invalid">
  </button>
</form>
